apiVersion: apps/v1
kind: Deployment
metadata:
  name: employees-deploy
  namespace: web
spec:
  replicas: 3
  selector:
    matchLabels:
      app: employees
  template:
    metadata:
      labels:
        app: employees
    spec:
      containers:
        - name: employees
          image: employees-app:v1
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: "mysql.db.svc.cluster.local"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: password
            - name: DB_NAME
              value: "employeesdb"
